// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.upload-area {
    cursor: pointer;
    background-color: #f8f9fa;
}
.upload-area:hover {
    background-color: #e9ecef;
}